language: python
python:
  - "3.6"

sudo: false

compiler:
  - g++

jobs:
  include:
    - name: "bs 8 p 100 c 250 m 30"
      script:
        - cd genetic_algorithm
        - mkdir data
        - for i in `seq 10`; do python puzzle.py 8 --p 100 --c 250 --m 30 && echo -------------; done
    - name: "bs 8 p 10 c 20 m 5"
      script:
        - cd genetic_algorithm
        - mkdir data
        - for i in `seq 10`; do python3 puzzle.py --p 10 --c 20 --m 5 && echo -------------; done
    - name: "bs 16 p 100 c 250 m 30"
      script:
        - cd genetic_algorithm
        - mkdir data
        - for i in `seq 10`; do python puzzle.py 16 --p 100 --c 250 --m 30 && echo -------------; done
    - name: "bs 16 p 10 c 20 m 5"
      script:
        - cd genetic_algorithm
        - mkdir data
        - for i in `seq 10`; do python3 puzzle.py 16 --p 10 --c 20 --m 5 && echo -------------; done
