language: python
python:
  - "3.6"

sudo: false

compiler:
  - g++

jobs:
  include:
    - name: "100 250 30"
      script:
        - cd genetic_algorithm
        - mkdir data
        - python puzzle.py --p 100 --c 250 --m 30
        - python puzzle.py --p 100 --c 250 --m 30
        - python puzzle.py --p 100 --c 250 --m 30
        - python puzzle.py --p 100 --c 250 --m 30
        - python puzzle.py --p 100 --c 250 --m 30
    - name: "10 20 5"
      script:
        - cd genetic_algorithm
        - mkdir data
        - python puzzle.py --p 10 --c 20 --m 5
        - python puzzle.py --p 10 --c 20 --m 5
        - python puzzle.py --p 10 --c 20 --m 5
        - python puzzle.py --p 10 --c 20 --m 5
        - python puzzle.py --p 10 --c 20 --m 5
